/* Centralizand pagina */

body {
    padding: 7rem 2rem;
    min-height: 100%;
    background:  hsl(0, 0%, 95%);
}

/* component */
body main .component {
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    background: hsl(31, 77%, 52%);
}

/* component wrapper */
body main .component .component-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    padding: 3rem;
}

/* CONFIGURAÇÃO ESPECIFICA DE CADA COMPONENT  */

/* SECOND WRAPPER */
body main .component .component-wrapper.suvs {
    background: hsl(184, 100%, 22%);
}


body main .component .component-wrapper.suvs img {
    content: url(../images/icon-suvs.svg);
}

body main .component .component-wrapper.suvs .button-wrapper button {
    color: hsl(184, 100%, 22%);
}

/* THIRD WRAPPER */
body main .component .component-wrapper.luxury {
    background: hsl(179, 100%, 13%);
}

body main .component .component-wrapper.luxury img {
    content: url(../images/icon-luxury.svg);
}

body main .component .component-wrapper.luxury .button-wrapper button {
    color: hsl(179, 100%, 13%);
}


/* DETALHES */

/* button */
body main .component .component-wrapper .button-wrapper button:hover {
    cursor: pointer;
    background: #8f8f8f;
    padding: 1.2rem;
}