/* 
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
*/


/* Centralizand pagina */

body {
    padding: 7rem 2rem;
    
    min-height: 100%;
}

/* component */
body main .component {
    background: #5c5757;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 8rem;
}

/* Wrapper do component */
body main .component .component-wrapper {
    display: flex;
    flex-direction: column;
    
    gap: 3.5rem;
}

/* img */
body main .component .component-wrapper img {
    width: 100%;
    max-width: 5rem;
}

/* h1 */
body main .component .component-wrapper h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3.5rem;
}

/* p */
body main .component .component-wrapper p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
}

/* button */
body main .component .component-wrapper .button-wrapper button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.8rem;

    border-radius: 2rem;
    padding: 1rem;
}